/* CSS for main view */

.list {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    line-height: 1.7;
    font-size: 16px;
    width: 800px;
    margin: 6px 0 24px;
}

.list a {
    padding-left: 2px;
}

.container {
    padding-bottom: 15px;
}

table {
    font-size: 14px;
}

.table td {
    padding: 0.2rem 0.6rem;
}

tr th {
    background: #fff;
}

td.success,
tr.success {
    background: #dff0d8;
}

td.warning,
tr.warning {
    background: #fcf8e3;
}

td.danger,
tr.danger {
    background: #f2dede;
}

.number {
    text-align: right;
}
